body{
    background-color: rgb(254, 252, 249);
}
header{
    text-align: center;
}
.flex{
    display: flex;
    padding: 5px;
}
img{
    border-width: 5px;
    border-color: rgb(235, 237, 237);
    border-style: solid;
    justify-content: space-between;
}
ul{
    list-style-type: none;
}

#nav{
    display: flex;
    border: 4%;
    border-color: black;
    justify-content: space-around;
}