body,html{
  height: 100%;
  width: 100%;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}
.header-left {
  transform: rotateX(150deg);
}
.centered {
  padding-top: 2%;
  width: 30%;
  height: 20%;
  font-size: 10%;
  background-color: lightgray;
  color: #0d0c0c;
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: center;
}
.container {
  width: 100%;
  height: 300px;
  position: relative;
  text-align: center;
  color: white;
}
.header-left {
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 5;
  animation-direction: alternate-reverse;  
}

@keyframes example {
  from {transform: rotateX(150deg)}
  to {transform: rotateX(360deg)}
}

body{
    background-color: rgb(229, 224, 218);
}
h2{
    text-align: center;
}
.para1{
    background-color:rgb(229, 224, 218);
    border-style: solid;
    border-width: 2%;
    border-color: black;
    color: #121111;
    padding: 4%;
}
.pic1{
    display: flex;
}
.flex{
    flex: 50%;
}
.header-right{
    float: right;
}
.header-left{
    float:left;
   
}
header{
    padding-bottom: 5%;
    padding-top: 0%;
    
    
}
ul{
    list-style-type: none;
}
social{
  display:flex;
  flex-direction:row;
}

#nav{
    display: flex;
    border: 4%;
    border-color: black;
    justify-content: space-around;
}
.products{
  display: flex;
  align-content: space-between;
}
img{
  width: 300px;
  height: 300px;
}

.contact{
  display: flex;
  justify-content: space-around;
}
social{
  display: flex;
  flex-direction: row;
}

.openmdl{ 
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: #121111;
    padding: 2%;
}
.mdl{
    background-color:white;
    color:black;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    opacity: 0;
    pointer-events: none;
}
.mdl:target{
    opacity: 1;
    pointer-events: all;
}
.mdl>div{
    background-color: whitesmoke;
    width:50%;
    height:400px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}
.mdl>div>a{
    background-color: rgb(211, 207, 207);
    font-size: 12px; 
}

.mdl>div>img{
    width:30%;
}


footer, .connect{
  background-color:black;
  color:white;
}
